<body>
<div id="wrap">
  <div id="masthead">
    <h1>Sistema Financeiro de Supermecado - Mercado São Caetano</h1>
    <h2><a href="#">Perfil</a> | <a href="#">Contato</a> </h2>
  </div>
  <div id="menucontainer">
    <div id="menu">
      <ul>
        <li><%= link_to 'Inicio', ficheiros_path, class:"current" %></li>
        <li><%= link_to 'Cliente', clientes_path%></li>
        <li><%= link_to 'Funcionário', funcionarios_path %></li>
        <li><%= link_to 'Contas', contas_path %></li>
        <li><%= link_to 'Contas Atrasadas', '#' %></li>
      </ul>
    </div>
  </div>
  <div id="container">

    <div id="content">

      <span class="titulo_formulario">
					Registrar uma conta de cliente
      </span>

      <% # formulario de pesquisa de cliente ......................................... %>
      <%= form_tag(ficheiros_path, method: :get, class:"formulario formulario_pesquisa") do %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario", style="width: 460px;">
          <%= text_field_tag :pesquisaCliente, nil, class:"input100", placeholder:"Pesquise por nome, cpf e id" %>
          <span class="focus-input100"></span>
        </div>

        <div class="div_butao_formulario" style="margin-top: -70px; margin-left: 480px">
          <button class="botao_tabela" style="height: 50px">
						<span>
							Pesquisar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

      <% # formulario de pesquisa de funcionario......................................... %>
      <%= form_tag(ficheiros_path, method: :get, class:"formulario formulario_pesquisa") do %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario" style="width: 460px; margin-left: 51.6%; margin-top: -85px;">
          <%= text_field_tag :pesquisaFuncionario, nil, class:"input100", placeholder:"Pesquise por nome, cpf e id" %>
          <span class="focus-input100"></span>
        </div>

        <div class="div_butao_formulario" style="margin-top: -70px; margin-left: 92%">
          <button class="botao_tabela" style="height: 50px">
						<span>
							Pesquisar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

      <% # tabela de clientes..................................... %>
      <div class="col-12" >

        <div class="menuTabela col-10 offset-1 row" style="width: 525px;">
          <div class="left colunaTituloComum colunaIdFicheiro"> Id </div>
          <div class="left colunaTituloComum colunaNomeFicheiro"> Cliente </div>
          <div class="left colunaTituloComum colunaCpfFicheiro"> Cpf </div>
        </div>

        <div style="height: 150px; width: 590px; overflow-y:auto; overflow-x:hidden; background: #eeeeee;">
          <% @clientes.each do |cliente| %>
            <button>
              <div class="menuTabela" style="width: 525px; background: #eeeeee;; margin-left: -6px;">
                <div class="left colunaCorpoComum colunaIdFicheiro"> <%= cliente.id %> </div>
                <div class="left colunaCorpoComum colunaNomeFicheiro"> <%= cliente.nome %> </div>
                <div class="left colunaCorpoComum colunaCpfFicheiro"> <%= cliente.cpf %> </div>
              </div>
            </button>
          <% end %>
        </div>
      </div>

      <% # tabela de funcionarios ..................................... %>
      <div class="col-12" style="margin-left: 51.6%; margin-top: -216.5px">
        <div class="menuTabela col-10 offset-1 row" style="width: 525px;">
          <div class="left col-1 colunaTituloComum colunaIdFicheiro"> Id </div>
          <div class="left col-5 colunaTituloComum colunaNomeFicheiro"> Funcionário </div>
          <div class="left col-3 colunaTituloComum colunaCpfFicheiro"> Cpf </div>
        </div>

        <div style="height: 150px; width: 590px; overflow-y:auto; overflow-x:hidden; background: #eeeeee;">
          <% @funcionarios.each do |funcionario| %>
            <button>
              <div class="menuTabela col-10 offset-1 row pointer" style="width: 525px; background: #eeeeee; margin-left: -6px;">
                <div class="left col-1 colunaCorpoComum colunaIdFicheiro"> <%= funcionario.id %> </div>
                <div class="left col-5 colunaCorpoComum colunaNomeFicheiro"> <%= funcionario.nome %> </div>
                <div class="left col-3 colunaCorpoComum colunaCpfFicheiro"> <%= funcionario.cpf %> </div>
              </div>
            </button>
          <% end %>
        </div>
      </div>

      <% # formulario de cadastramento ..................................... %>
      <%= form_with model: @ficheiro, scope: :ficheiro ,class:"formulario", local: true do |form| %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="cliente">Cpf Cliente</span><br>
          <%= form.text_field :cliente, class:"input100", placeholder:"Cpf do cliente" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="funcionario">Cpf Funcionário</span><br>
          <%= form.text_field :funcionario, class:"input100", placeholder:"Cpf do funcionário" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :valor, class:"label-elemento_formulario" %><br>
          <%= form.text_field :valor, class:"input100", placeholder:"Valor da conta" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :juros, class:"label-elemento_formulario" %><br>
          <%= form.text_field :juros, class:"input100", placeholder:"0.0" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <span class="label-elemento_formulario">Status</span>
          <div>
            <select class="selection_formulario_ficheiro" name="ficheiro[status]">
              <option>Devendo</option>
              <option>Paga</option>
              <option>Atrasada</option>
            </select>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :comprador, class:"label-elemento_formulario" %><br>
          <%= form.text_field :comprador, class:"input100", placeholder:"Quem está comprando?" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <span class="label-elemento_formulario" name="parentesco">Grau de Parentesco do Comprador</span><br>
          <%= form.text_field :parentesco, class:"input100", placeholder:"0.0" %>
          <span class="focus-input100"></span>
        </div>

        <% if(FicheirosController.getResultadoPositivoFicheiro != "") %>
          <span id="resultadoPositivo" class="status_processo">
            <%= FicheirosController.getResultadoPositivoFicheiro %>
          </span>
          <%FicheirosController.setResultadoPositivoFicheiro("") %>
        <% end %>

        <div class="div_butao_formulario">
          <button class="botao_formulario">
						<span>
							Adicionar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

    </div>

  </div>
  <div id="footer"> Informações Sobre o Mercado </div>
</div>
</body>