<body>
<div id="wrap">
  <div id="masthead">
    <h1>Sistema Financeiro de Supermecado - Mercado São Caetano</h1>
    <h2><a href="#">Perfil</a> | <a href="#">Contato</a> </h2>
  </div>
  <div id="menucontainer">
    <div id="menu">
      <ul>
        <li><%= link_to 'Inicio', new_contum_path %></li>
        <li><%= link_to 'Cliente', clientes_path%></li>
        <li><%= link_to 'Funcionário', funcionarios_path %></li>
        <li><%= link_to 'Contas', contums_path, class:"current" %></li>

      </ul>
    </div>
  </div>
  <div id="container">

    <div id="content">

      <span class="titulo_formulario">
					Editar Conta
      </span>

      <% # formulario de cadastramento ..................................... %>
      <%= form_with model: @contum, scope: :contum, local: true, class:"formulario" do |form| %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="cliente">Cpf Cliente</span><br>
          <%= form.text_field :cliente, class:"input100", placeholder:"Cpf do cliente" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="funcionario">Cpf Funcionário</span><br>
          <%= form.text_field :funcionario, class:"input100", placeholder:"Cpf do funcionário" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :valor, class:"label-elemento_formulario" %><br>
          <%= form.text_field :valor, class:"input100", placeholder:"Valor da conta" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :juros, class:"label-elemento_formulario" %><br>
          <%= form.text_field :juros, class:"input100", placeholder:"0.0" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <span class="label-elemento_formulario">Status</span>
          <div>
            <select class="selection_formulario_ficheiro" name="contum[status]">
              <%devendo = paga = atrasada = ''
                if !@contum || @contum.status == 'Devendo'
                  devendo = 'selected'
                elsif @contum && @contum.status == 'Paga'
                  paga = 'selected'
                else
                  atrasada = 'selected'
                end
              %>
              <option <%= devendo %>>Devendo</option>
              <option <%= paga %>>Paga</option>
              <option <%= atrasada %>>Atrasada</option>
            </select>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :comprador, class:"label-elemento_formulario" %><br>
          <%= form.text_field :comprador, class:"input100", placeholder:"Quem está comprando?" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <span class="label-elemento_formulario" name="parentesco">Grau de Parentesco do Comprador</span><br>
          <%= form.text_field :parentesco, class:"input100", placeholder:"0.0" %>
          <span class="focus-input100"></span>
        </div>

        <% if(ContumsController.getResultadoPositivoFicheiro != "") %>
    <span id="resultadoPositivo" class="status_processo">
            <%= ContumsController.getResultadoPositivoFicheiro %>
          </span>
          <%ContumsController.setResultadoPositivoFicheiro("") %>
        <% end %>

        <div class="div_butao_formulario">
          <button class="botao_formulario">
						<span>
							Adicionar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

    </div>

  </div>
  <div id="footer"> Informações Sobre o Mercado </div>
</div>
</body>